/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #5a6266;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
    color: #232a34;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
h1, .h1 {
    font-size: 45px;
    line-height: 55px;
    padding: 0 0 40px 0;
    font-weight: 100;
}
h2, .h2 {
    font-size: 40px;
    line-height: 49px;
    padding: 0 0 40px 0;
    font-weight: 100;
}
h3, .h3 {
    font-size: 30px;
    line-height: 37px;
    padding: 0 0 30px 0;
    font-weight: 100;
}
h4, .h4 {
    font-size: 25px;
    line-height: 30px;
    padding: 0 0 5px 0;
    font-weight: 100;
}
h5, .h5 {
    font-size: 14px;
    line-height: 19px;
    padding: 0 0 25px 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h6, .h6 {
    font-size: 14px;
    line-height: 19px;
    padding: 0 0 13px 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}


.services{
  padding: 60px 0px;
}
.services-box{
  display: inline-block;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #dfe0e1;
  padding-top: 40px;
}
.services-box:hover{
  background: #f2f2f2;
  cursor: pointer;
  
   transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}
.services-box:hover i{
  background: #4A89DC;
  border-radius: 100px;
  
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}
.icon{
  padding: 0px;
  float: left;
  margin-right: 20px;
  padding-bottom:30px
}
.icon i{
  width: 70px;
  height: 70px;
  background: #5D9CEC;
  color: #ffffff;
  line-height: 70px;
  text-align: center;
  font-size: 44px;
}
.service-content{

}
.service-content h4{
  font-size: 18px;
  font-weight: 900;
  height: 35px;
}