body{
            margin: 50px 0 0;
        }
        a:hover,
        a:focus{
            text-decoration: none;
            outline:none;
        }
        h3{
            margin: 0;
            font-weight: 700;
        }
        ul{
            margin: 0 !important;
            padding: 0;
            list-style-type: none;
        }
        .pricing-table{
            border: 1px solid #eee;
            text-align: center;
            padding-bottom: 20px;
            color:#21328B;
        }
        .pricing-table .pricing-header{
            background-color:#F06449;
            padding: 15px 0;
            color: #ffffff;
            text-transform: uppercase;
            margin-bottom: 30px;
            position: relative;
            transition:all 0.3s ease 0s;
        }
        .pricing-table:hover .pricing-header{
            background-color: #5BC3EB;
        }
        .pricing-table .pricing-header:after{
            content: "";
            position: absolute;
            bottom: -15px;
            left: 45%;
            border-top: 15px solid #F06449;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            transition:all 0.3s ease 0s;
        }
        .pricing-table:hover .pricing-header:after{
            border-top-color: #5BC3EB;
        }
        .pricing-table .price-value{
            margin-bottom: 20px;
        }
        .pricing-table .price-value .amount{
            display: block;
            font-size: 60px;
            color:#3747A0;
            line-height: 65px;
        }
        .pricing-table .price-value .time{
            font-size: 15px;
            text-transform: capitalize;
        }
        .pricing-table .pricingContent ul{
            line-height: 50px;
            font-size: 15px;
            background-color: #F5F5F5;
            border-top: 2px solid #ddd;
        }
        .pricing-table .pricingContent ul li{
            border-bottom: 1px solid #ddd;
        }
        .pricing-table .pricingContent ul li:last-child{
            border-bottom: none;
        }
        .pricing-table .purchase{
            background-color: #F06449;
            padding: 30px 0;
            position: relative;
            transition:all 0.3s ease 0s;
        }
        .pricing-table:hover .purchase{
            background-color: #5BC3EB;
        }
        .pricing-table .purchase:before{
            content: "";
            position: absolute;
            top: 0px;
            left: 45%;
            border-top: 15px solid #fff;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
        }
        .pricing-table .purchase a{
            display:inline-block;
            border: 2px solid #fff;
            background-color:transparent;
            color:#fff;
            font-weight: 600;
            padding: 10px 20px;
            font-size: 15px;
            text-transform:uppercase;
            transition:all 0.3s ease 0s;
        }
        .pricing-table .purchase a:hover{
            color:#5BC3EB ;
            background-color:#fff;
        }

        @media screen and (max-width:1000px){
            .pricing-table{
                margin-bottom: 30px;
            }
        }